In [9]:
from utils import Preprocessing
import pandas as pd
import numpy as np

In [2]:
prep = Preprocessing('fer2013')

In [3]:
prep.load_data('fer2013.csv', name='alldata').head()

   emotion                                             pixels     Usage
0        0  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...  Training
1        0  151 150 147 155 148 133 111 140 170 174 182 15...  Training
2        2  231 212 156 164 174 138 161 173 182 200 106 38...  Training
3        4  24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...  Training
4        6  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...  Training

In [4]:
prep.get(name='alldata')['Usage'].unique().tolist()

['Training', 'PublicTest', 'PrivateTest']

In [5]:
pixels=prep.get(name='alldata')['pixels']

In [6]:
pixels = pixels.str.split(' ', n=48*48, expand = True)

In [7]:
pixels.head()

,0,1,2,3,4,5,6,7,8,9,...,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303
0,70,80,82,72,58,58,60,63,54,58,...,159,182,183,136,106,116,95,106,109,82
1,151,150,147,155,148,133,111,140,170,174,...,105,108,95,108,102,67,171,193,183,184
2,231,212,156,164,174,138,161,173,182,200,...,104,138,152,122,114,101,97,88,110,152
3,24,32,36,30,32,23,19,20,30,41,...,174,126,132,132,133,136,139,142,143,142
4,4,0,0,0,0,0,0,0,0,0,...,12,34,31,31,31,27,31,30,29,30

In [12]:
x = pixels.values.astype(np.float)
x

array([[ 70.,  80.,  82., ..., 106., 109.,  82.],
       [151., 150., 147., ..., 193., 183., 184.],
       [231., 212., 156., ...,  88., 110., 152.],
       ...,
       [ 17.,  17.,  16., ..., 154., 133., 113.],
       [ 30.,  28.,  28., ...,  35.,  30.,  28.],
       [ 19.,  13.,  14., ..., 189., 199., 201.]])

In [13]:
x -= np.mean(x, axis=0)
x /= np.std(x, axis=0)

In [14]:
x

array([[-0.60646962, -0.4562069 , -0.4011047 , ..., -0.08714567,
        -0.05788751, -0.41197523],
       [ 0.37587539,  0.40796695,  0.41422283, ...,  1.03537587,
         0.88911749,  0.88301341],
       [ 1.34609268,  1.17337807,  0.52711433, ..., -0.3193915 ,
        -0.04509014,  0.47674246],
       ...,
       [-1.24923857, -1.23396336, -1.22897574, ...,  0.53217656,
         0.24924925, -0.01840025],
       [-1.09157826, -1.09816461, -1.07845373, ..., -1.00322646,
        -1.06887933, -1.09755746],
       [-1.22498314, -1.28334472, -1.25406274, ...,  0.98376568,
         1.09387532,  1.09884485]])

In [15]:
pixels_std = pd.DataFrame(x)
pixels_std.tail()

,0,1,2,3,4,5,6,7,8,9,...,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303
35882,-0.849024,-0.999402,-1.216432,-1.144187,-1.128438,-1.053770,-1.010492,-0.943934,-1.040581,-1.033657,...,1.508232,1.470359,1.466547,1.453993,1.476197,1.467873,1.414960,1.422452,1.375417,1.289284
35883,0.703324,0.704255,0.727810,0.787481,0.938037,1.073952,1.151451,1.221002,1.262784,1.301695,...,0.521569,0.432684,0.360582,0.107333,-0.598010,-1.375933,-1.459714,-1.454816,-1.452800,-1.453045
35884,-1.249239,-1.233963,-1.228976,-1.131394,-1.063043,-1.147443,-1.202057,-1.251215,-1.168546,-1.192231,...,1.136446,0.965544,1.148582,1.127530,1.114883,0.780068,0.474158,0.532177,0.249249,-0.018400
35885,-1.091578,-1.098165,-1.078454,-1.054639,-1.023807,-1.040388,-0.887344,-0.538881,-0.400757,-0.399364,...,-1.151469,-1.165896,-1.146295,-1.144109,-1.106525,-1.005577,-1.002380,-1.003226,-1.068879,-1.097557
35886,-1.224983,-1.283345,-1.254063,-1.272112,-1.259228,-1.227734,-1.174691,-1.027738,-0.813088,-0.745342,...,1.622628,1.498405,1.369775,1.154735,0.539458,-0.159049,0.448024,0.983766,1.093875,1.098845

In [16]:
data_norm = pixels_std.join(prep.load_data('fer2013.csv', name='alldata')['emotion']).join(prep.load_data('fer2013.csv', name='alldata')['Usage'])
data_norm.head()

,0,1,2,3,4,5,6,7,8,9,...,2296,2297,2298,2299,2300,2301,2302,2303,emotion,Usage
0,-0.606470,-0.456207,-0.401105,-0.504562,-0.670675,-0.665695,-0.641047,-0.608718,-0.756215,-0.730926,...,1.010337,0.352180,-0.062731,0.065810,-0.218377,-0.087146,-0.057888,-0.411975,0,Training
1,0.375875,0.407967,0.414223,0.557216,0.506432,0.337948,0.056796,0.466766,0.893108,0.941302,...,-0.206225,-0.028694,-0.116259,-0.582313,0.774692,1.035376,0.889117,0.883013,0,Training
2,1.346093,1.173378,0.527114,0.672349,0.846485,0.404857,0.740955,0.927688,1.063728,1.316111,...,0.581775,0.161743,0.044325,-0.132595,-0.192244,-0.319392,-0.045090,0.476742,2,Training
3,-1.164345,-1.048783,-0.978106,-1.041847,-1.010728,-1.134061,-1.202057,-1.209313,-1.097454,-0.975994,...,0.305284,0.297769,0.298583,0.330350,0.356557,0.377346,0.377223,0.349783,4,Training
4,-1.406899,-1.443834,-1.429672,-1.425622,-1.429254,-1.441845,-1.462038,-1.488659,-1.524003,-1.567040,...,-1.090996,-1.076096,-1.066379,-1.111393,-1.054646,-1.067739,-1.081677,-1.072166,6,Training

In [17]:
usage_values = data_norm['Usage'].unique().tolist()
usage_values

['Training', 'PublicTest', 'PrivateTest']

In [18]:
train = data_norm.loc[data_norm['Usage'] == 'Training']

In [19]:
train.tail()

,0,1,2,3,4,5,6,7,8,9,...,2296,2297,2298,2299,2300,2301,2302,2303,emotion,Usage
28704,-0.436682,-0.394480,-0.363474,-0.338259,-0.317543,-0.304383,-0.298967,-0.301437,-0.301229,-0.327285,...,-1.035698,-1.008083,-0.945942,-1.111393,0.173624,1.525673,1.298633,1.086149,2,Training
28705,-0.072850,-0.061156,-0.012256,0.019931,0.022510,0.043546,0.070479,0.089649,0.111101,0.061940,...,-0.040330,0.134538,0.405638,0.436166,0.265091,0.209613,0.876320,1.365460,0,Training
28706,-0.557959,-0.443862,-0.338387,-0.287089,-0.186753,-0.103655,-0.121086,-0.189698,-0.031082,0.162851,...,1.397424,1.345172,1.195175,1.110744,1.049093,0.970863,0.940307,0.921101,4,Training
28707,1.236943,1.358558,1.116659,-0.274296,-0.304464,-0.237474,-0.312650,-0.413175,-0.187483,-0.312869,...,0.429705,0.474604,0.352110,0.370031,0.317357,0.299931,0.287641,0.248215,0,Training
28708,0.909495,1.012889,1.141746,1.209634,1.251932,1.274681,1.356698,1.430512,1.433404,1.460269,...,-0.593312,-1.035288,-1.400929,-1.375933,-1.420514,-1.377400,-1.260840,-0.970598,4,Training

In [20]:
prep.set(name='train_std', value = train.drop(columns = ['Usage']))
prep.save(name='train_std')

In [21]:
publicTest = data_norm.loc[data_norm['Usage'] == 'PublicTest']

In [22]:
prep.set(name='test_public_std', value = publicTest.drop(columns = ['Usage']))
prep.save(name='test_public_std')

In [23]:
privateTest = data_norm.loc[data_norm['Usage'] == 'PrivateTest']

In [24]:
prep.set(name='test_private_std', value = privateTest.drop(columns = ['Usage']))
prep.save(name='test_private_std')

In [25]:
#Create a reduced set of training images
import random

In [26]:
train_data = prep.load_data(filename='train_std.csv', name='train')

In [27]:
train_data_reduced = train_data.sample(n=7000)

In [28]:
train_data_reduced.tail()

,0,1,2,3,4,5,6,7,8,9,...,2295,2296,2297,2298,2299,2300,2301,2302,2303,emotion
17409,-0.036467,0.124024,0.338962,0.531631,0.441037,0.030164,0.207311,0.829917,0.807798,0.335840,...,-0.675104,-0.842154,-0.872057,-0.905796,-0.912988,-0.754112,-0.745176,-0.825729,-0.881726,6
5461,0.315237,0.358586,0.376592,0.378121,0.532590,0.110456,-0.682096,-0.776326,-0.955271,-0.788589,...,-0.184312,-0.109453,-0.259938,-0.062731,-0.079687,-0.309844,-0.461320,-1.184056,-1.364173,5
22951,0.921623,0.963507,1.028854,1.107294,1.186537,1.274681,1.343015,1.416545,1.461840,1.489100,...,0.657046,1.300652,1.331569,1.262085,1.203333,0.735492,0.493469,0.274844,-0.145360,3
22743,-0.279021,-0.308063,-0.187865,-0.223126,-0.029806,0.445003,0.686222,0.760080,0.864671,0.926886,...,-0.801308,-0.717733,-0.640812,-0.678302,-0.608767,-0.558112,-0.616150,-0.684958,-0.742070,2
8243,-0.533703,-0.443862,-0.350931,-0.171956,-0.069043,0.016782,0.179945,0.187420,0.310158,0.393503,...,0.502797,0.609424,0.311372,0.271819,0.145172,-0.179177,-0.074243,-0.109077,-0.145360,3

In [29]:
prep.set(name='train_reduced_std', value = train_data_reduced)
prep.save(name='train_reduced_std')