In [1]:
from utils import Preprocessing
import pandas as pd

In [2]:
prep = Preprocessing('fer2013')

In [3]:
prep.load_data('fer2013.csv', name='alldata').head()

   emotion                                             pixels     Usage
0        0  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...  Training
1        0  151 150 147 155 148 133 111 140 170 174 182 15...  Training
2        2  231 212 156 164 174 138 161 173 182 200 106 38...  Training
3        4  24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...  Training
4        6  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...  Training

In [6]:
prep.get(name='alldata')['Usage'].unique().tolist()

['Training', 'PublicTest', 'PrivateTest']

In [7]:
pixels=prep.get(name='alldata')['pixels']

In [8]:
pixels = pixels.str.split(' ', n=48*48, expand = True)

In [9]:
pixels.head()

,0,1,2,3,4,5,6,7,8,9,...,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303
0,70,80,82,72,58,58,60,63,54,58,...,159,182,183,136,106,116,95,106,109,82
1,151,150,147,155,148,133,111,140,170,174,...,105,108,95,108,102,67,171,193,183,184
2,231,212,156,164,174,138,161,173,182,200,...,104,138,152,122,114,101,97,88,110,152
3,24,32,36,30,32,23,19,20,30,41,...,174,126,132,132,133,136,139,142,143,142
4,4,0,0,0,0,0,0,0,0,0,...,12,34,31,31,31,27,31,30,29,30

In [11]:
pixels_norm = pixels.applymap(lambda x: 2*(float(x)/255 - 0.5))
pixels_norm.tail()

,0,1,2,3,4,5,6,7,8,9,...,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303
35882,-0.607843,-0.717647,-0.866667,-0.827451,-0.819608,-0.772549,-0.741176,-0.694118,-0.733333,-0.709804,...,0.694118,0.686275,0.694118,0.701961,0.733333,0.741176,0.725490,0.749020,0.733333,0.694118
35883,0.396078,0.364706,0.349020,0.356863,0.419608,0.474510,0.498039,0.521569,0.537255,0.560784,...,0.152941,0.105882,0.066667,-0.074510,-0.482353,-0.945098,-1.000000,-1.000000,-1.000000,-1.000000
35884,-0.866667,-0.866667,-0.874510,-0.819608,-0.780392,-0.827451,-0.850980,-0.866667,-0.803922,-0.796078,...,0.490196,0.403922,0.513725,0.513725,0.521569,0.333333,0.160784,0.207843,0.043137,-0.113725
35885,-0.764706,-0.780392,-0.780392,-0.772549,-0.756863,-0.764706,-0.670588,-0.466667,-0.380392,-0.364706,...,-0.764706,-0.788235,-0.788235,-0.796078,-0.780392,-0.725490,-0.725490,-0.725490,-0.764706,-0.780392
35886,-0.850980,-0.898039,-0.890196,-0.905882,-0.898039,-0.874510,-0.835294,-0.741176,-0.607843,-0.552941,...,0.756863,0.701961,0.639216,0.529412,0.184314,-0.223529,0.145098,0.482353,0.560784,0.576471

In [14]:
data_norm = pixels_norm.join(prep.load_data('fer2013.csv', name='alldata')['emotion']).join(prep.load_data('fer2013.csv', name='alldata')['Usage'])
data_norm.head()

,0,1,2,3,4,5,6,7,8,9,...,2296,2297,2298,2299,2300,2301,2302,2303,emotion,Usage
0,-0.450980,-0.372549,-0.356863,-0.435294,-0.545098,-0.545098,-0.529412,-0.505882,-0.576471,-0.545098,...,0.435294,0.066667,-0.168627,-0.090196,-0.254902,-0.168627,-0.145098,-0.356863,0,Training
1,0.184314,0.176471,0.152941,0.215686,0.160784,0.043137,-0.129412,0.098039,0.333333,0.364706,...,-0.254902,-0.152941,-0.200000,-0.474510,0.341176,0.513725,0.435294,0.443137,0,Training
2,0.811765,0.662745,0.223529,0.286275,0.364706,0.082353,0.262745,0.356863,0.427451,0.568627,...,0.192157,-0.043137,-0.105882,-0.207843,-0.239216,-0.309804,-0.137255,0.192157,2,Training
3,-0.811765,-0.749020,-0.717647,-0.764706,-0.749020,-0.819608,-0.850980,-0.843137,-0.764706,-0.678431,...,0.035294,0.035294,0.043137,0.066667,0.090196,0.113725,0.121569,0.113725,4,Training
4,-0.968627,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-0.756863,-0.756863,-0.756863,-0.788235,-0.756863,-0.764706,-0.772549,-0.764706,6,Training

In [19]:
usage_values = data_norm['Usage'].unique().tolist()
usage_values

['Training', 'PublicTest', 'PrivateTest']

In [22]:
train = data_norm.loc[data_norm['Usage'] == 'Training']

In [23]:
train.tail()

,0,1,2,3,4,5,6,7,8,9,...,2296,2297,2298,2299,2300,2301,2302,2303,emotion,Usage
28704,-0.341176,-0.333333,-0.333333,-0.333333,-0.333333,-0.333333,-0.333333,-0.333333,-0.325490,-0.325490,...,-0.725490,-0.717647,-0.686275,-0.788235,-0.019608,0.811765,0.686275,0.568627,2,Training
28705,-0.105882,-0.121569,-0.113725,-0.113725,-0.129412,-0.129412,-0.121569,-0.113725,-0.098039,-0.113725,...,-0.160784,-0.058824,0.105882,0.129412,0.035294,0.011765,0.427451,0.741176,0,Training
28706,-0.419608,-0.364706,-0.317647,-0.301961,-0.254902,-0.215686,-0.231373,-0.270588,-0.176471,-0.058824,...,0.654902,0.639216,0.568627,0.529412,0.505882,0.474510,0.466667,0.466667,4,Training
28707,0.741176,0.780392,0.592157,-0.294118,-0.325490,-0.294118,-0.341176,-0.396078,-0.262745,-0.317647,...,0.105882,0.137255,0.074510,0.090196,0.066667,0.066667,0.066667,0.050980,0,Training
28708,0.529412,0.560784,0.607843,0.615686,0.607843,0.592157,0.615686,0.639216,0.631373,0.647059,...,-0.474510,-0.733333,-0.952941,-0.945098,-0.976471,-0.952941,-0.882353,-0.701961,4,Training

In [24]:
prep.set(name='train_norm_centered', value = train.drop(columns = ['Usage']))
prep.save(name='train_norm_centered')

In [25]:
publicTest = data_norm.loc[data_norm['Usage'] == 'PublicTest']

In [26]:
prep.set(name='test_public_norm_centered', value = publicTest.drop(columns = ['Usage']))
prep.save(name='test_public_norm_centered')

In [28]:
privateTest = data_norm.loc[data_norm['Usage'] == 'PrivateTest']

In [29]:
prep.set(name='test_private_norm_centered', value = privateTest.drop(columns = ['Usage']))
prep.save(name='test_private_norm_centered')

In [30]:
#Create a reduced set of training images
import random

In [31]:
train_data = prep.load_data(filename='train_norm_centered.csv', name='train')

In [32]:
train_data_reduced = train_data.sample(n=7000)

In [33]:
train_data_reduced.tail()

,0,1,2,3,4,5,6,7,8,9,...,2295,2296,2297,2298,2299,2300,2301,2302,2303,emotion
13221,-0.474510,-0.819608,-0.435294,-0.207843,0.192157,0.521569,0.701961,0.741176,0.741176,0.725490,...,0.074510,0.898039,0.913725,-0.239216,-1.000000,-0.976471,-0.992157,-1.000000,-0.992157,6
22468,-0.466667,-0.552941,-0.701961,-0.850980,-0.905882,-0.929412,-0.898039,-0.858824,-0.827451,-0.662745,...,0.647059,0.466667,0.403922,0.403922,0.364706,0.176471,0.043137,0.529412,0.749020,4
7636,-0.184314,-0.137255,-0.082353,-0.003922,0.027451,0.035294,-0.011765,-0.058824,-0.066667,-0.019608,...,0.403922,0.505882,0.600000,0.631373,0.662745,0.654902,0.458824,0.035294,0.121569,0
22215,0.215686,0.341176,0.411765,0.301961,0.160784,0.301961,0.254902,0.270588,0.011765,-0.043137,...,-0.647059,-0.623529,-0.537255,-0.349020,-0.584314,-0.741176,-0.639216,-0.803922,-0.780392,2
6394,0.364706,0.380392,0.396078,-0.294118,-0.474510,-0.215686,-0.286275,-0.435294,-0.490196,-0.505882,...,-0.278431,-0.364706,0.145098,0.372549,0.309804,0.325490,0.325490,0.349020,0.356863,3

In [34]:
prep.set(name='train_reduced_norm_centered', value = train_data_reduced)
prep.save(name='train_reduced_norm_centered')